<h1> Profile </h1>

<%= form_with method: "post", url: "/profiles" do |form| %>
  <div>
    <%= form.label :name %>
    <%= @current_user.name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= @current_user.email %>
  </div>
   <div>
    <%= form.label :experience %>
    <%= form.text_field :experience %>
  </div>
   <div>
    <%= form.label :education %>
    <%= form.text_field :education %>
  </div>
   <div>
    <%= form.label :skills %>
    <%= form.text_field :skills %>
  </div>
   <div>
    <%= form.label :interest %>
    <%= form.text_field :interest %>
  </div>
  <div>
    <%= form.submit "Submit" %>
  </div>
<% end%>

