<h1>Job Index</h1>
<a href="/jobs/new">New Job Posting</a>
<h1>Job Board</h1>
<% if @jobs.empty? %>
  <p>No active jobs.</p>
<% else %> 
  <% @jobs.each do |job| %>
    <hr />
    <h2><%= job.title %></h2>
    <% unless job.tags.empty? %>
      <p><strong>Tagged:</strong> <%= job.tags.map(&:name).join(', ') %></p>
    <% end %>
    <% if @admin %>
      <!-- Only visible if you are logged in as admin -->
      <form action="<%= url_for(controller: 'tags', action: 'create') %>" method="post">
        <input type="text" name="name">
        <input type="hidden" name="job_id" value="<%= job.id %>">
        <input type="submit" value="Add Tag">
      </form>
    <% end %>
    <p><%= job.description %></p>
    <p><b>Company: </b>  <%= link_to job.company.name, job.company %> </a> </p>
    <p><img src="<%= job.company.logo %>"width=25%, height= 50%></p>
    <p><b>Job Description:</b> <%= job.description %></p>
    <p><b>Salary: </b> <%= job.salary_range %>
  <% end %>
<% end %>

<%= link_to %>
