<h1>New Job Posting<h1>
<%= form_with model: @job do |form| %>
  <div>
    <%= form.label :company_id %>
    <select name="company_id">
      <% @companies.each do |company| %>
        <option value="<%= company.id %>"> <%= company.name %> </option>
      <% end %>
    </select>
  <div>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  <div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  <div>
  <div>
    <%= form.label :url %>
    <%= form.text_field :url %>
  <div>
  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  <div>
  <div>
    <%= form.label :active %>
    <%= form.text_field :active %>
  <div>
  <div>
    <%= form.label :salary_range %>
    <%= form.text_field :salary_range %>
  <div>
  <div>
    <%= form.submit %>
<% end %>
